@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Libre+Barcode+128+Text&family=Pompiere&family=Warnes&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
/*
font-family: 'Faster One', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Pompiere', cursive;
font-family: 'Warnes', cursive;
font-family: 'Zilla Slab Highlight', cursive;
 */

*{
    /* reset stile */
    margin: 0;
    padding: 0;
    font-family: "Calibri", sans-serif;
}
a {
    /* reset stile link */
    color: inherit;
    text-decoration: inherit;
}

.interactive{
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.interactive:hover{
    background: rgba(84, 84, 84, 0.4)
}

#appName{
    text-align: center;
    margin: 10px;
    font-family: 'Zilla Slab Highlight', cursive;
}

#header{
    display: flex;
    justify-content: center;
}
.header_btn{
    margin: 10px;
    color: #454545;
    font-size: 3vh;
    font-weight: bold;
    padding: 2px 5px;
}
.logout_btn{
    color: white;
    background-color: #ff7367;
}

#customers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#prenotazioni{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer_card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    min-width: 500px;
    padding: 10px;
    height: 57px;
}

.deleted_customer{
    background-color: #ff7367;
}
.active_customer{
    background-color: #6ea8fc;
}

.customer_btn_div{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    min-width: 5%;
}
.customer_btn{
    min-width: 5%;
    text-align: center;
    padding: 3px 16px;
}
.delete_customer_btn{
    background-color: #ff7367;
    color: whitesmoke;
}
.edit_customer_btn{
    background-color: #97D077;
    color: whitesmoke;
}

#loginForm{
    align-self: center;
}

.updateInfoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.updateInfoForm [type=submit]{
    background-color: #4891fb;
    color: #f6f6f6;
    border: none;
    padding: 3px;
    font-size: 1em;
    width: 100px;
    height: 38px;
    margin: 7px 0;
}

#add_customer_btn{
    font-size: 4em;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
}

.listaPrenotrazioni th{
    background-color: #6ea8fc;
    padding: 0 10px;
    border: 1px solid black;
}
td{
    padding: 0 10px;
    border: 1px solid #454545;
}
.addPrenotazione {
    font-size: 1.5em;
    text-align: center;
}
.cellaStatoPrenotazione{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.cellaStatoPrenotazione div{
    flex: 1;
    text-align: center;
    padding: 3px;
}
.approvaBtn{
    color: #f6f6f6;
    background-color: #4891fb;
}
.rifiutaBtn{
    color: #f6f6f6;
    background-color: #217afa;
}

.filerForm{
    margin: 15px 0 10px 0;
    display: flex;
    min-width: 500px;
}
.filerForm  *{
    flex: 1;
    margin: 3px;
    line-height: 2em;
}
.filerForm [type=submit]{
    background-color: #f6f6f6;
    border: 1px solid;
}

#eliminaPrenotazioneBtn{
    width: 95px;
    height: 38px;
    text-align: center;
    color: #f6f6f6;
    background-color: #ff7367;
    margin: 10px 0;
    padding: 3px;
}

#testoRicerca{
    display: flex;
    align-items: center;
}
#testoRicerca *{
    height: 100%;
    width: 100%;
}