@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Libre+Barcode+128+Text&family=Pompiere&family=Warnes&family=Zilla+Slab+Highlight:wght@400;700&display=swap');
/*
font-family: 'Faster One', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Pompiere', cursive;
font-family: 'Warnes', cursive;
font-family: 'Zilla Slab Highlight', cursive;
 */

*{
    /* reset stile */
    margin: 0;
    padding: 0;
    font-family: "Calibri", sans-serif;
}
a {
    /* reset stile link */
    color: inherit;
    text-decoration: inherit;
}

.interactive{
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.interactive:hover{
    background: rgba(84, 84, 84, 0.4)
}

#appName{
    text-align: center;
    margin: 10px;
    font-family: 'Zilla Slab Highlight', cursive;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_btn{
    margin: 10px;
    color: #454545;
    font-size: 1.3em;
    font-weight: bold;
    padding: 2px 5px;
}
.logout_btn{
    color: white;
    background-color: #ff7367;
    border-radius: 5px;
}

#homeAdmin {
    display: flex;
}
#sideMenu{
    width: 6vw;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}
#customers{
    padding-right: 10vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#prenotazioni{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#elencoAuto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.customer_card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    min-width: 500px;
    padding: 10px;
    height: 57px;
}

.deleted_customer{
    background-color: #ff7367;
}
.active_customer{
    background-color: #6ea8fc;
}

.customer_btn_div{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    min-width: 5%;
}
.customer_btn{
    min-width: 5%;
    text-align: center;
    padding: 3px 16px;
}
.delete_customer_btn{
    background-color: #ff7367;
    color: whitesmoke;
}
.edit_customer_btn{
    background-color: #97D077;
    color: whitesmoke;
}

#loginForm{
    display: flex;
    justify-content: center;
    margin: 65px auto;
    width: 400px;
    flex-wrap: wrap;
}
#loginForm input{
    height: 30px;
}
#loginForm [type=submit]{
    flex: 0 0 100%;
    background-color: #ff7367;
    color: white;
    border: 0;
}
#loginForm :not([type=submit]){
    flex: 1;
    min-width: 0;
}

.updateInfoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.updateInfoForm [type=submit]{
    background-color: #4891fb;
    color: #f6f6f6;
    border: none;
    padding: 3px;
    font-size: 1em;
    width: 100px;
    height: 38px;
    margin: 7px 0;
}

.add_element_btn{
    font-size: 4em;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
}

.listaPrenotrazioni{
    width: 505px;
}
.listaPrenotrazioni table{
    width: 100%;
}
.listaPrenotrazioni th{
    padding: 0 10px;
    border: 1px solid black;
}
.prenotazioneCustomer th{
    background-color: #6ea8fc;
}
.prenotazioneAuto th{
    background-color: #a0a0a0;
}
td{
    padding: 0 10px;
    border: 1px solid #454545;
}
.addPrenotazione {
    font-size: 1.5em;
    text-align: center;
}
.cellaStatoPrenotazione{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.cellaStatoPrenotazione div{
    flex: 1;
    text-align: center;
    padding: 3px;
}
.approvaBtn{
    color: #f6f6f6;
    background-color: #4891fb;
}
.rifiutaBtn{
    color: #f6f6f6;
    background-color: #217afa;
}

.filerForm{
    margin: 15px 0 10px 0;
    display: flex;
    min-width: 500px;
}
.filerForm  *{
    flex: 1;
    margin: 3px;
    line-height: 2em;
}
.filerForm [type=submit]{
    background-color: #f6f6f6;
    border: 1px solid;
}

#eliminaPrenotazioneBtn{
    width: 95px;
    height: 38px;
    text-align: center;
    color: #f6f6f6;
    background-color: #ff7367;
    margin: 10px 0;
    padding: 3px;
}

#testoRicerca{
    display: flex;
    align-items: center;
}
#testoRicerca *{
    height: 100%;
    width: 100%;
}

.auto_card{
    /*background-color: #c284cc;*/
    background-color: #ffc83dba;
}
.auto_card table{
    max-width: 500px;
}
.auto_card th{
    background-color: #ecba38;
}
.auto_card td{
    flex: 1;
    width: 15vw;
    border-color: #ecba38;
    background-color: #ffe4c4;
}

#userInfoList{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#userInfoList h1{
    font-size: 2em;
    color: #f6f6f6;
}
#userInfoList p{
    font-size: 1.5em;
    color: #454545;
}
.userInfo{
    padding: 10px;
    margin: 5px;
    width: 240px;
    background-color: #6ea8fc;
}
.updateBtn {
    background-color: #97D077;
    font-size: 1.3em;
    padding: 10px;
    margin: 18px;
}